<fieldset>
  <div class="form-group row" >
    <div class="col-sm-1">
      <%= f.label :latitude %>
    </div>

    <div class="col-sm-3">
      <%= f.text_field :latitude, class: "form-control" %>
    </div>

    <div class="col-sm-1">
      <%= f.label :longitude %>
    </div>

    <div class="col-sm-3">
      <%= f.text_field :longitude, class: "form-control" %>
    </div>
    <%= f.hidden_field :_destroy %>
    <div class="btn btn-info create_marker" data-markerId="<%= child_index %>">Marker</div>

    <%= link_to 'Remove', '#', class: 'remove_fields btn btn-dangger' %>
  </div>
</fieldset>